*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

:root {
  --ocean-color: #4682B4; /* Azul metalizado */
  --continent-color: #32CD32; /* Verde metálico */
  --connection-line-color: #C0C0C0; /* Prata */
  --dialog-bubble-color: #BEBEBE; /* Cinza metálico */

  --primary-color: #b7cfe8;
  --secondary-color: #C0C0C0;
  --text-color: #F0F0F0;


}

/*Balão de Diálogo Principal: #1E90FF (Azul elétrico)
Elementos de Circuito: #C0C0C0 (Cinza metálico)
Fundo: #F0F0F0 (Branco suave)*/